.pokemon {
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;

  > a {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    gap: 0.3em;
    .type {
      border: 1px solid #471a1a;
      border-radius: 8px;
      padding: 5px;
      margin-right: 5px;
      &.fighting {
        background-color: rgb(102, 40, 40);
        color: white;
      }
      &.water {
        background-color: blue;
        color: white;
      }
      &.electric {
        background-color: yellow;
        color: black;
      }
    }
  }
}
