.search-params {
  > form {
    display: flex;
    margin: 15px auto;
    .input {
      display: flex;
      flex-direction: column;
      padding-right: 5px;
      > label {
        margin-bottom: 5px;
      }
    }

    .btn-submit {
      align-self: flex-end;
    }
  }
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;

  .pokemon {
    display: flex;
    width: 33%;
    margin-top: 5px;

    > a {
      text-decoration: none;
      > span {
        margin-right: 5px;
      }
    }
  }
}
